[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cornice = "==3.4"
colander = "==1.4"
pyramid = "==1.9.1"
"07d2cc9" = {path = "myapp", editable = true}


[dev-packages]

pytest = "*"
pdbpp = "*"
webtest = "*"
sphinx = "==1.7.2"
cornice-sphinx = "==0.3"
